@using MetaFrm.Control
@using MetaFrm.Database
@using MetaFrm.Management.Razor.Models
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<TitleControl Title="@this.GetAttribute("Description")"></TitleControl>

<DataGridControl TItem="CommonClassModel" @ref="this.DataGridControl" DataItems="this.A004ViewModel.SelectResultModel" PagingEnabled="true"
                 RowAdd="this.New"
                 MovePage="this.Search"
                 RowModify="this.RowModify"
                 Columns="@(new ColumnDefinitions[] {
                    new(DbType.Int, SortDirection.Normal, Alignment.Right, nameof(CommonClassModel.CLASS_VALUE_ID), "ID", "d-none d-md-table-cell"),
                    new(DbType.Int, SortDirection.Normal, Alignment.Right, nameof(CommonClassModel.CLASS_ID), "클래스 ID", "d-none d-lg-table-cell"),
                    new(DbType.NVarChar, SortDirection.Ascending, nameof(CommonClassModel.CLASS_NAME), "클래스명"),
                    new(DbType.NVarChar, SortDirection.Normal, nameof(CommonClassModel.KEY_VALUE), "키 값"),
                    new(DbType.Int, SortDirection.Normal, nameof(CommonClassModel.SORT), "정렬", "d-none d-sm-table-cell"),
                    new(DbType.DateTime, SortDirection.Normal, Alignment.Center, nameof(CommonClassModel.INACTIVE_DATE), "비활성", "d-none d-sm-table-cell", "", "", "yyyy-MM-dd HH:mm")})">
    <SearchInputControl>
        <input type="text" class="form-control rounded-start" placeholder="@Localization["검색"]" @bind-value="@this.A004ViewModel.SearchModel.SEARCH_TEXT" @onkeyup="@SearchKeydown" />
    </SearchInputControl>
    <SearchButtonControl>
        <button class="btn btn-outline-primary btn-rounded-end" type="submit" @onclick="(() => this.OnSearch())">
            <span class="oi oi-magnifying-glass" />
        </button>
    </SearchButtonControl>
</DataGridControl>

<ModalControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_VALUE_ID))" HeaderText="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "신규" : "수정")">
    <Control>
        <EditForm class="container" Model="@this.SelectItem" OnValidSubmit="this.Save">
            <DataAnnotationsValidator />

            @if (this.SelectItem != null)
            {
                <div class="row">
                    <FieldControl Label="ID" Value="this.SelectItem.CLASS_VALUE_ID"></FieldControl>
                    <FieldControl Label="클래스 ID" Value="this.SelectItem.CLASS_ID"></FieldControl>
                </div>

                @if (this.SelectItem.CLASS_ID != null && !this.SelectItem.CLASS_NAME.IsNullOrEmpty())
                {
                    <FieldControl Label="클래스명" CssClassAppend="py-2 col-md-12" Value="this.SelectItem.CLASS_NAME"></FieldControl>
                }
                else
                {
                    <FieldControl Label="클래스명" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputSelect class="form-select" Value="@this.SelectItem.CLASS_ID" ValueExpression="@(() => this.SelectItem.CLASS_ID)" ValueChanged="((int? value) => this.SearchCommonClass(value))">
                                <DictionaryControl Code="METAFRM_MGMT.COMMON_CLASS" Items="this.CommonClassItems" ResultEvent="this.OnResultEventCommonClassItems" AppendEmptyItem="true">
                                    <Control>
                                        @if (this.CommonClassItems != null)
                                            foreach (var item in this.CommonClassItems)
                                            {
                                                <option Value="@(item.Int("CLASS_ID"))">@item.String("CLASS_NAME")</option>
                                            }
                                    </Control>
                                </DictionaryControl>
                            </InputSelect>
                            <ValidationMessage For="@(()=>this.SelectItem.CLASS_ID)" />
                        </Control>
                    </FieldControl>
                }


                @if (this.SelectItem.CLASS_ID != null)
                {
                    <FieldControl Label="@($"{this.SelectItem.KEY_VALUE_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputText id="keyname" class="form-control" placeholder="@this.SelectItem.KEY_VALUE_DESC" @bind-Value="this.SelectItem.KEY_VALUE" />
                            <ValidationMessage For="@(()=>this.SelectItem.KEY_VALUE)" />
                        </Control>
                    </FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE1_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE1_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue1" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE1_DESC" @bind-Value="this.SelectItem.TEXT_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE1)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE2_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE2_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue2" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE2_DESC" @bind-Value="this.SelectItem.TEXT_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE2)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE3_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE3_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue3" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE3_DESC" @bind-Value="this.SelectItem.TEXT_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE3)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE4_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE4_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue4" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE4_DESC" @bind-Value="this.SelectItem.TEXT_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE4)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE5_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE5_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue5" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE5_DESC" @bind-Value="this.SelectItem.TEXT_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE5)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE6_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE6_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue6" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE6_DESC" @bind-Value="this.SelectItem.TEXT_VALUE6" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE6)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE7_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE7_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue7" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE7_DESC" @bind-Value="this.SelectItem.TEXT_VALUE7" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE7)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE8_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE8_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue8" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE8_DESC" @bind-Value="this.SelectItem.TEXT_VALUE8" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE8)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE9_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE9_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue9" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE9_DESC" @bind-Value="this.SelectItem.TEXT_VALUE9" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE9)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.TEXT_VALUE10_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.TEXT_VALUE10_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputText id="textvalue10" class="form-control" placeholder="@this.SelectItem.TEXT_VALUE10_DESC" @bind-Value="this.SelectItem.TEXT_VALUE10" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE10)" /></Control></FieldControl>
                }

                @if (!this.SelectItem.INT_VALUE1_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.INT_VALUE1_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="intvalue1" class="form-control" placeholder="@this.SelectItem.INT_VALUE1_DESC" @bind-Value="this.SelectItem.INT_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE1)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.INT_VALUE2_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.INT_VALUE2_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="intvalue2" class="form-control" placeholder="@this.SelectItem.INT_VALUE2_DESC" @bind-Value="this.SelectItem.INT_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE2)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.INT_VALUE3_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.INT_VALUE3_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="intvalue3" class="form-control" placeholder="@this.SelectItem.INT_VALUE3_DESC" @bind-Value="this.SelectItem.INT_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE3)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.INT_VALUE4_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.INT_VALUE4_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="intvalue4" class="form-control" placeholder="@this.SelectItem.INT_VALUE4_DESC" @bind-Value="this.SelectItem.INT_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE4)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.INT_VALUE5_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.INT_VALUE5_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="intvalue5" class="form-control" placeholder="@this.SelectItem.INT_VALUE5_DESC" @bind-Value="this.SelectItem.INT_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE5)" /></Control></FieldControl>
                }

                @if (!this.SelectItem.NUMBER_VALUE1_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.NUMBER_VALUE1_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="numbervalue1" class="form-control" placeholder="@this.SelectItem.NUMBER_VALUE1_DESC" @bind-Value="this.SelectItem.NUMBER_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE1)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.NUMBER_VALUE2_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.NUMBER_VALUE2_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="numbervalue2" class="form-control" placeholder="@this.SelectItem.NUMBER_VALUE2_DESC" @bind-Value="this.SelectItem.NUMBER_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE2)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.NUMBER_VALUE3_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.NUMBER_VALUE3_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="numbervalue3" class="form-control" placeholder="@this.SelectItem.NUMBER_VALUE3_DESC" @bind-Value="this.SelectItem.NUMBER_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE3)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.NUMBER_VALUE4_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.NUMBER_VALUE4_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="numbervalue4" class="form-control" placeholder="@this.SelectItem.NUMBER_VALUE4_DESC" @bind-Value="this.SelectItem.NUMBER_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE4)" /></Control></FieldControl>
                }
                @if (!this.SelectItem.NUMBER_VALUE5_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.NUMBER_VALUE5_DESC}")" CssClassAppend="py-2 col-md-12"><Control><InputNumber id="numbervalue5" class="form-control" placeholder="@this.SelectItem.NUMBER_VALUE5_DESC" @bind-Value="this.SelectItem.NUMBER_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE5)" /></Control></FieldControl>
                }

                @if (!this.SelectItem.DATETIME_VALUE1_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.DATETIME_VALUE1_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputDate id="datevalue1" class="form-control w-40 float-start" placeholder="@this.SelectItem.DATETIME_VALUE1_DESC" Type="InputDateType.Date" @bind-Value="this.SelectItem.DATETIME_VALUE1" />
                            <InputDate id="timevalue1" class="form-control w-40 float-start ms-1" placeholder="@this.SelectItem.DATETIME_VALUE1_DESC" Type="InputDateType.Time" @bind-Value="this.SelectItem.DATETIME_VALUE1" />
                            <ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE1)" />
                        </Control>
                    </FieldControl>
                }
                @if (!this.SelectItem.DATETIME_VALUE2_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.DATETIME_VALUE2_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputDate id="datevalue2" class="form-control w-40 float-start" placeholder="@this.SelectItem.DATETIME_VALUE2_DESC" Type="InputDateType.Date" @bind-Value="this.SelectItem.DATETIME_VALUE2" />
                            <InputDate id="timevalue2" class="form-control w-40 float-start ms-1" placeholder="@this.SelectItem.DATETIME_VALUE2_DESC" Type="InputDateType.Time" @bind-Value="this.SelectItem.DATETIME_VALUE2" />
                            <ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE2)" />
                        </Control>
                    </FieldControl>
                }
                @if (!this.SelectItem.DATETIME_VALUE3_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.DATETIME_VALUE3_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputDate id="datevalue3" class="form-control w-40 float-start" placeholder="@this.SelectItem.DATETIME_VALUE3_DESC" Type="InputDateType.Date" @bind-Value="this.SelectItem.DATETIME_VALUE3" />
                            <InputDate id="timevalue3" class="form-control w-40 float-start ms-1" placeholder="@this.SelectItem.DATETIME_VALUE3_DESC" Type="InputDateType.Time" @bind-Value="this.SelectItem.DATETIME_VALUE3" />
                            <ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE3)" />
                        </Control>
                    </FieldControl>
                }
                @if (!this.SelectItem.DATETIME_VALUE4_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.DATETIME_VALUE4_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputDate id="datevalue4" class="form-control w-40 float-start" placeholder="@this.SelectItem.DATETIME_VALUE4_DESC" Type="InputDateType.Date" @bind-Value="this.SelectItem.DATETIME_VALUE4" />
                            <InputDate id="timevalue4" class="form-control w-40 float-start ms-1" placeholder="@this.SelectItem.DATETIME_VALUE4_DESC" Type="InputDateType.Time" @bind-Value="this.SelectItem.DATETIME_VALUE4" />
                            <ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE4)" />
                        </Control>
                    </FieldControl>
                }
                @if (!this.SelectItem.DATETIME_VALUE5_DESC.IsNullOrEmpty())
                {
                    <FieldControl Label="@($"{this.SelectItem.DATETIME_VALUE5_DESC}")" CssClassAppend="py-2 col-md-12">
                        <Control>
                            <InputDate id="datevalue5" class="form-control w-40 float-start" placeholder="@this.SelectItem.DATETIME_VALUE5_DESC" Type="InputDateType.Date" @bind-Value="this.SelectItem.DATETIME_VALUE5" />
                            <InputDate id="timevalue5" class="form-control w-40 float-start ms-1" placeholder="@this.SelectItem.DATETIME_VALUE5_DESC" Type="InputDateType.Time" @bind-Value="this.SelectItem.DATETIME_VALUE5" />
                            <ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE5)" />
                        </Control>
                    </FieldControl>
                }

                @if (this.SelectItem.CLASS_ID != null)
                {
                    <div class="row">
                        <FieldControl Label="정렬"><Control><InputNumber id="sort" class="form-control" placeholder="@Localization["정렬"]" @bind-Value="this.SelectItem.SORT" /><ValidationMessage For="@(()=>this.SelectItem.SORT)" /></Control></FieldControl>
                        <FieldControl Label="비활성" Value="@($"{this.SelectItem.INACTIVE_DATE:yyyy-MM-dd HH:mm}")"></FieldControl>
                    </div>
                }

                <CommandControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_VALUE_ID))" SaveIsSubmit="true" New="this.New" Copy="this.Copy" Delete="this.Delete" />
            }
        </EditForm>
    </Control>
</ModalControl>